<div class="tela-container container mt-4">
    <h1>Four Factors</h1>
    <!-- Select de Time -->
    <div class="row">
        <div id='div-select-team' class="col-md-4 mb-3">
            <label for="select-team" class="form-label">Time:</label>
            <select id="select-team" class="form-select"></select>
        </div>
    </div>

    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="me-auto">Notificação</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            Aqui vai a mensagem da notificação.
          </div>
        </div>
      </div>

    <div class="row">
        <!-- Select de Liga -->
        <div id='div-select-league' class="col-md-4 mb-3">
            <label for="select-league" class="form-label">Liga:</label>
            <select id="select-league" class="form-select"></select>
        </div>

        <div id='div-select-season' class="col-md-4 mb-3">
            <label for="select-season" class="form-label">Temporada:</label>
            <select id="select-season" class="form-select"></select>
        </div>
        
        <!-- Select de Partida -->
        <div id='div-select-match' class="col-md-4 mb-3">
            <label for="select-match" class="form-label">Partida:</label>
            <select id="select-match" class="form-select"></select>
        </div>
    </div>
    
    <div id="loader" class="spinner-border text-primary" role="status" style="display: none; margin-left: 50%;">
        <span class="visually-hidden">Loading...</span>
    </div>

    <div class="row mt-4" id="charts-container">
        <div class="col-4">
            <div id="chart-container" class="mb-4"></div>
        </div>

        <div class="col-8">
            <!-- Gráfico 1 -->
            <!-- <div id="chart-score" class="mb-4" style="height: 200px;">
            </div> -->
            <!-- Gráfico 2 -->
            <div id="chart-pontos" class="mb-4" style="height: 150px;">
            </div>

            <div id="chart-efg" class="mb-4" style="height: 150px;">
                <!-- O gráfico será renderizado aqui -->
            </div>
            <!-- Gráfico 3 -->
            <div id="chart-tov" class="mb-4" style="height: 150px;">
                <!-- O gráfico será renderizado aqui -->
            </div>
            <!-- Gráfico 4 -->
            <div id="chart-orb" class="mb-4" style="height: 150px;">
                <!-- O gráfico será renderizado aqui -->
            </div>
            <!-- Gráfico 5 -->
            <div id="chart-drb" class="mb-4" style="height: 150px;">
                <!-- O gráfico será renderizado aqui -->
            </div>
            <!-- Gráfico 6 -->
            <div id="chart-ftr" class="mb-4" style="height: 150px;">
                <!-- O gráfico será renderizado aqui -->
            </div>
        </div>
    </div>
</div>